:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #007BFF; 
    --botao-verde: #28a745; 
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
    --fundo-gradient: linear-gradient(135deg, #ff4b2b, #ff416c);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.principal {
    background: var(--fundo-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 0 2rem;
}

.container__titulo {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}


.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    margin: 1rem;
    display: inline-block;
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.container__botao:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
}


.botao_secundario {
    background-color: var(--botao-verde);
    border: none; 
    color: var(--branco-principal);
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    margin: 1rem;
    display: inline-block;
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.botao_secundario:hover {
    background-color: #218838; 
    transform: translateY(-2px); 
}


.container__caixa {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container__aviso {
    font-size: 0.875rem;
    margin-top: 1rem;
    color: var(--cinza-secundario);
}

.secundario {
    padding: 4rem 2rem;
    background-color: #222;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.secundario__imagem {
    width: 40%; 
    max-width: 400px; 
    height: auto;   
    margin-top: 2rem;
    border-right: 200px;
    margin-right: 2rem;
    border-radius: 15px;
}

.container__descricao {
    flex: 1;
    margin-right: 2rem;
}

.descricao__titulo {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
    padding: 1rem 2rem;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    text-decoration: none;
    border-radius: 5px;
}

.dispositivos {
    padding: 2rem;
    background-color: var(--cor-de-fundo);
    text-align: center;
}

.dispositivos__titulo {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 3rem;
    padding: 0;
}

.dispositivos__lista li {
    margin: 0 1.5rem;
    text-align: center;
}

.lista__item {
    font-size: 1.25rem;
    color: var(--branco-principal);
    margin-top: 0.5rem;
}

.rodape {
    background-color: #101010;
    padding: 2rem;
    text-align: center;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.rodape__lista li {
    margin: 0 1rem;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
}

.rodape__texto {
    color: var(--cinza-secundario);
    margin-top: 1rem;
    font-size: 0.875rem;
}


@media (max-width: 768px) {
    .container__titulo {
        font-size: 1.75rem;
    }

    .descricao__titulo {
        font-size: 1.5rem;
    }

    .dispositivos__titulo {
        font-size: 2rem;
    }

    .secundario {
        flex-direction: column;
    }

    .secundario__imagem {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .container__descricao {
        margin-right: 0;
    }
}
